### Feature Engineering / Инжиниринг признаков
На этом этапе:
1. 
2. 
3. 
4. 
5.

In [2]:
import sqlite3
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# %matplotlib inline
import seaborn as sns
from datetime import date

In [5]:
conn = sqlite3.connect('db\cian_fake_2.db') 
          
df = pd.read_sql_query ('''
                               SELECT
                               flat_type, rooms, price, price_per_meter, sale_type, mortgage, area,
                       living_area, kitchen_area, floor, floors, built_year, address, district, metro_station, seller,
                       housing_type, planning, ceiling_height, bathroom, balcony_loggia, repair, view,
                       finished_shell_condition, house_type, house_class, building_number, parking, elevators,
                       housing_line, floor_type, entrance_number, heating, unsafe_house, garbage_disposal, gas_supply,
                       description_text
                               FROM ad_data_cleaned
                               ''', conn)

In [6]:
# создание новой переменной "возраст дома"
df['house_age'] = date.today().year - df.built_year

In [9]:
# количество квартир, которые еще не построены
sum(df.house_age<0)

0

In [ ]:
# TODO проверить, нужно ли объединять некоторые классы категоральных переменных (например, парковка или санузел, где много классов)

Кодирование категориальных переменных

In [10]:
# One-Hot encoding
df = pd.get_dummies(df, columns=['flat_type', 'sale_type'])

In [13]:
df.head()

,rooms,price,price_per_meter,mortgage,area,living_area,kitchen_area,floor,floors,address,...,unsafe_house,garbage_disposal,gas_supply,description_text,house_age,flat_type_апартаменты,flat_type_квартира,sale_type_альтернатива,sale_type_долевое участие (214-фз),sale_type_свободная продажа
0,5,93802430,1874174,1,50.05,23.98,37.82,11,11,fake address '0',...,да,нет,нет,description text '0',75,1,0,0,0,1
1,5,11455370,129206,0,88.66,80.55,26.91,34,38,fake address '1',...,да,пропущено,пропущено,description text '1',171,1,0,0,0,1
2,0,50054984,3792044,0,13.20,5.39,6.44,1,4,fake address '2',...,нет,нет,да,description text '2',144,0,1,1,0,0
3,1,53094819,789045,1,67.29,12.50,59.76,25,48,fake address '3',...,пропущено,да,да,description text '3',98,0,1,0,1,0
4,4,28843249,624313,0,46.20,44.29,8.38,11,12,fake address '4',...,нет,да,да,description text '4',11,1,0,1,0,0

In [ ]:
# TODO быстрое кодирование для всех категориальных переменных (сейчас только для двух, так как есть перемнные с 10000 значений)

In [12]:
# удаление неиспользуемых столбов (год постройки, так как теперь есть возраст здания)
df.drop(['built_year'], axis=1, inplace=True)