### Feature Engineering / Инжиниринг признаков
На этом этапе:
1. 
2. 
3. 
4. 
5.

In [1]:
import sqlite3
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# %matplotlib inline
import seaborn as sns
from datetime import date

In [3]:
conn = sqlite3.connect('db\cian_362_150.db') 
          
df = pd.read_sql_query ('''
                               SELECT
                               flat_type, rooms, price, sale_type, mortgage, area,
                       living_area, kitchen_area, floor, floors, built_year, address, district, metro_station, seller,
                       housing_type, planning, ceiling_height, bathroom, balcony_loggia, repair, view,
                       finished_shell_condition, house_type, house_class, building_number, parking, elevators,
                       housing_line, floor_type, entrance_number, heating, unsafe_house, garbage_disposal, gas_supply,
                       description_text
                               FROM ad_data
                               ''', conn)

In [4]:
# создание новой переменной "возраст дома"
df['house_age'] = date.today().year - df.built_year

In [5]:
# количество квартир, которые еще не построены
sum(df.house_age<0)

43

In [ ]:
# TODO проверить, нужно ли объединять некоторые классы категоральных переменных (например, парковка или санузел, где много классов)

Кодирование категориальных переменных

In [6]:
# One-Hot encoding
df = pd.get_dummies(df, columns=['flat_type', 'sale_type'])

In [7]:
df.head()

,rooms,price,mortgage,area,living_area,kitchen_area,floor,floors,built_year,address,...,unsafe_house,garbage_disposal,gas_supply,description_text,house_age,flat_type_апартаменты,flat_type_квартира,sale_type_альтернатива,sale_type_долевое участие (214-фз),sale_type_свободная продажа
0,4,52116797,0,118.14,NaN,NaN,4,18,NaN,"Москва,СЗАО,р-н Щукино,ул. Маршала Рыбалко,2к4",...,None,None,None,Продаётся 4-комнатная квартира в сданном доме ...,NaN,0,1,0,0,1
1,2,67794300,1,132.93,35.6,4.4,4,19,2022.0,"Москва,ЦАО,р-н Красносельский,просп. Академика...",...,None,None,None,"Продаются 2-комн. апартаменты площадью 132,93 ...",0.0,1,0,0,1,0
2,4,72500000,0,149.00,NaN,NaN,3,18,2010.0,"Москва,ЗАО,р-н Раменки,Ломоносовский просп.,25к1",...,нет,None,None,ЛОТ 24840 Д ОФИС ПРОДАЖ ЖК ДОМИНИОН. ПРЕДЛОЖЕН...,12.0,0,1,0,0,1
3,4,110000000,0,185.00,150.0,20.0,9,16,2013.0,"Москва,ЗАО,р-н Раменки,Ломоносовский просп.,25к5",...,нет,None,None,ЛОТ 28408 Д ОФИС ПРОДАЖ ЖК ДОМИНИОН. ПРЕДЛОЖЕН...,9.0,0,1,0,0,1
4,4,32403725,0,98.40,48.7,35.4,22,25,2022.0,"Москва,СЗАО,р-н Покровское-Стрешнево,Волоколам...",...,None,None,None,На живописной стрелке Москвы-реки и Сходни про...,0.0,1,0,0,1,0

In [ ]:
# TODO быстрое кодирование для всех категориальных переменных (сейчас только для двух, так как есть перемнные с 10000 значений)

In [12]:
# удаление неиспользуемых столбов (год постройки, так как теперь есть возраст здания)
df.drop(['built_year'], axis=1, inplace=True)