### Feature Engineering / Инжиниринг признаков
На этом этапе:
1. 
2. 
3. 
4. 
5.

In [2]:
import sqlite3
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from datetime import date

In [16]:
conn = sqlite3.connect('db\cian.db') 
          
df = pd.read_sql_query ('''
                               SELECT *
                               FROM ad_data_cleaned
                               ''', conn)

Кодирование категориальных переменных

In [17]:
df.drop(columns=['address'], inplace=True)

In [18]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['flat_type',
 'sale_type',
 'district',
 'metro_station',
 'seller',
 'housing_type',
 'bathroom',
 'house_type',
 'parking',
 'heating',
 'interior_design']

In [19]:
# One-Hot encoding
df = pd.get_dummies(df, columns=categorical_columns)

In [20]:
df.head(5)

,rooms,price,mortgage,area,living_area,kitchen_area,floor,floors,built_year,ceiling_height,...,heating_индивидуальный тепловой пункт,heating_котел/квартирное отопление,heating_центральное,interior_design_без ремонта,interior_design_дизайнерский,interior_design_евроремонт,interior_design_косметический,interior_design_пропущено,interior_design_черновой,interior_design_чистовой
0,0,2850000,0,14.5,12.000000,8.269208,2,4,2013.0,2.80,...,0,0,1,0,0,0,1,0,0,0
1,1,4700000,1,29.0,11.000000,9.000000,2,4,2021.0,2.48,...,0,0,1,1,0,0,0,0,0,0
2,1,4400000,1,38.0,19.587972,10.034268,3,14,1967.0,2.64,...,0,0,1,0,0,0,1,0,0,0
3,0,4890000,1,29.0,15.300000,9.375490,1,12,2019.0,2.54,...,0,0,1,1,0,0,0,0,0,0
4,0,4700000,0,42.0,30.000000,6.000000,2,2,2010.0,3.90,...,0,0,1,0,0,0,1,0,0,0

In [22]:
# сохранение таблицы
df.to_sql('analytical_base_table', conn, if_exists='replace', index = False)

83657