### Feature Engineering / Инжиниринг признаков
На этом этапе:
1. 
2. 
3. 
4. 
5.

In [1]:
from datetime import date
import sqlite3
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from datetime import date

In [9]:
conn = sqlite3.connect('db\cian.db') 
          
df = pd.read_sql_query ('''
                               SELECT *
                               FROM ad_data_cleaned
                               ''', conn)

In [11]:
df.drop(columns=['address'], inplace=True)

In [4]:
# создание переменной 'property_age'
df['property_age'] = date.today().year - df.built_year.astype(int)

In [5]:
df['property_age'].head(5)

0    10
1     2
2    56
3     4
4    13
Name: property_age, dtype: int32

In [6]:
# количество наблюдений с 'property_age' < 0 (квартир в недостроенных домах)
sum(df.property_age < 0)

13376

In [7]:
# удаление признака 'year_built'
df.drop(columns='built_year', inplace=True)

In [8]:
# сохранение таблицы
df.to_sql('ad_data_cleaned_with_fixed_age', conn, if_exists='replace', index = False)

83657

Кодирование категориальных переменных

In [15]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['flat_type',
 'sale_type',
 'district',
 'metro_station',
 'seller',
 'housing_type',
 'bathroom',
 'house_type',
 'parking',
 'heating',
 'interior_design']

In [16]:
# One-Hot encoding
df = pd.get_dummies(df, columns=categorical_columns)

In [17]:
df.head(5)

,rooms,price,mortgage,area,living_area,kitchen_area,floor,floors,ceiling_height,is_suspicious,...,heating_индивидуальный тепловой пункт,heating_котел/квартирное отопление,heating_центральное,interior_design_без ремонта,interior_design_дизайнерский,interior_design_евроремонт,interior_design_косметический,interior_design_пропущено,interior_design_черновой,interior_design_чистовой
0,0,2850000,0,14.5,12.000000,8.269208,2,4,2.80,0,...,0,0,1,0,0,0,1,0,0,0
1,1,4700000,1,29.0,11.000000,9.000000,2,4,2.48,0,...,0,0,1,1,0,0,0,0,0,0
2,1,4400000,1,38.0,19.587972,10.034268,3,14,2.64,0,...,0,0,1,0,0,0,1,0,0,0
3,0,4890000,1,29.0,15.300000,9.375490,1,12,2.54,0,...,0,0,1,1,0,0,0,0,0,0
4,0,4700000,0,42.0,30.000000,6.000000,2,2,3.90,0,...,0,0,1,0,0,0,1,0,0,0

In [18]:
# сохранение таблицы
df.to_sql('analytical_base_table', conn, if_exists='replace', index = False)

83657